
/*--------------------------------------------------------------
# Global Settings
--------------------------------------------------------------*/
@font-face {
    font-family: 'Agustina';
    src: url('/assets/fonts/Agustina.woff') format('woff');
}

:root{
    --font-family: 'Rubik', sans-serif;
    --primary-color: #415de6;
    --secondary-color: #e64157;
    --tertiary-color: #12c2e9;
    --primary-gradient-color: linear-gradient(90deg,#e64157,#415de6);
    --underline-gradient: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    --vertical-gradient: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    --transition-default: all .4s ease;
}   

body{
    font-family: var(--font-family);
    font-weight: 300;
}

/* Dark Mode */
[data-bs-theme="dark"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="dark"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(/assets/images/dark-bg.webp) 50% no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

/* Dark Mode styles */
[data-bs-theme="dark"] {
    --text-color: #fff;
    --muted-text: #9a9a9a;
    --bg-color: #212121;
    --btn-color: #fff;
    --offcanvas-bg: rgba(0,0,0,0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

/* Light Mode */
[data-bs-theme="light"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="light"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(/assets/images/light-bg.webp) 50% no-repeat;
    background-size: cover;
    filter: brightness(90%);
    z-index: -1;
}

/* Light Mode styles */
[data-bs-theme="light"] {
    --text-color: #000;
    --muted-text: #000;
    --bg-color: #fff;
    --btn-color: #fff;
    --offcanvas-bg: rgba(215, 215, 215, 0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

*::selection {
    color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--vertical-gradient);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}

.social-icons a{
    color: var(--text-color);
    font-size: 18px;
    margin-right: 3px;
}

.logo-name{
    font-family: 'Agustina', 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.primary-bg-btn{
    color: var(--btn-color);
    background-color: var(--primary-color);
    border: none;
    transition: var(--transition-default);
}

.primary-bg-btn:hover{
    color: var(--text-color);
    background-color: none;
    border: 1px solid var(--bg-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.secondary-bg-btn{
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
}

.secondary-bg-btn:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
    border: 1px solid var(--bg-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.tertiary-bg-btn{
    color: var(--text-color);
    background-color: var(--tertiary-color);
    border: none;
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.tertiary-bg-btn:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
    border: 1px solid var(--bg-color);
}

.btn-showcase{
    color: rgb(180 155 255/1);
    border-radius: 32px;
    border-color: #7042f88b;
    border-width: 1px;
    backdrop-filter: blur(6px); 
    box-shadow: inset 0 -7px 11px #a48fff1f;
    transition: box-shadow .45s cubic-bezier(.6,.6,0,1);
}

.btn-showcase svg{
    width: 1.20rem;
    height: 1.20rem;
    margin-right: 8px;
}

.underline{
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--underline-gradient);
}

.section-heading{
    font-family: 'Dancing Script',var(--font-family);
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

#header{
    background: transparent;
    backdrop-filter: 16px;
}

@media (max-width: 767px) {
    #switchTheme{
        display: flex;
        justify-content: end;
        flex-grow: 1;
    }
}

#header .navbar{
    backdrop-filter: 20px;
    padding: 15px 0;
}

.navbar .toggle-icon{
    color: var(--text-color);
    font-size: 28px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas{
    background-color: var(--offcanvas-bg);
}

.offcanvas.show ul {
    position: absolute;
    justify-content: flex-start!important;
    top: 76.9px;
    left: 15px;
    right: 15px;
    bottom: 15px; 
    padding: 10px 15px;
    transition: none;
    border: 2px solid var(--offcanvas-border-color);
  }

.navbar-nav > li > .nav-link {
    position: relative;
    font-size: 15px;
    border-bottom: none;
    transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--underline-gradient);
}

.navbar-nav > li > .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link:hover::after {
    width: 100%;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    position: relative;
    padding: 160px 0 50px 0;
    min-height: 100vh;
}

#hero .name {
    background: var(--primary-gradient-color);
    color: transparent;
    background-clip: text;
}

#hero .badge-button{
    margin-bottom: 15px;
}

#hero .tagline{
    letter-spacing: 1.5px;
    color: var(--muted-text);
}

.hero-portrait .pic {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 47vw;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(/assets/images/portrait.png);
}

@media (max-width: 576px) {
    .hero-portrait .pic {
        width: 100vw;
    }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about{
    padding: 80px 0 80px 0;
    background-image: url(https://assets-global.website-files.com/657ad20cc169eb09732a4171/657ad20cc169eb09732a4214_footer%20grid.png);
    object-fit: contain;
}
.about-portrait{
    padding: 30px 0 30px 0;
}
.about-portrait .pic{
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 12px 8px 0px 0px var(--primary-color);
}
#about .bio{
   /* box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, -10px -10px 30px 4px rgba(0,0,0,.1),10px 10px 30px 4px rgba(45,78,255,.15); */
}
